/* Red Button */
.btn{
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: var(--clr-rose);
    color: #f1f5f9;
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 5px 5px 20px var(--clr-rose);
    transition: 0.3s;
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 30px var(--clr-rose);
}

/* Blue Button */
.blue_btn{
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: var(--clr-indigo);
    color: #f1f5f9;
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 5px 5px 20px var(--clr-indigo);
    transition: 0.3s;
}

.blue_btn:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 30px var(--clr-indigo);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
    /* border: 1px solid red; */
}

.section{
    margin-top: 0rem;
}

.section_bottom{
    margin-bottom: 1rem;
}

.project_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_container{
    background-color: black;
    padding: 2rem;
    border: 1px solid var(--clr-slate800);
    border-radius: 1rem;
    max-width:35ch;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    
}

.project_img{
    width: 4rem;
    border-radius: 0.5rem;
}

.subtitle{
    color: var(--clr-slate400);
    margin-bottom: 1rem;
}

.description{
    color: var(--clr-slate600);
    font-size: 1.1rem;
    max-width: 30ch;
    margin-bottom: 2rem;
    /* border: 1px solid red; */

}

.empty_space{
    width: 100%;
    height: 5rem;
}

/* xs */
@media (min-width:475px) {
    .container{
        max-width: 475px;
    }
    .section{
        margin-top: 1rem;
    }
}

/* sm */
@media (min-width:640px) {
    .container{
        max-width: 640px;
    }
}

/* md */
@media (min-width:768px) {
    .container{
        max-width: 768px;
    }

    .project_list{
        max-width: 200ch;
    }

    .project_container{
        min-width:50ch;
        margin-right: 2rem;
        padding-bottom: 2.5rem;
    }

    .description{
        max-width: 50ch;
        font-size: 1.1rem;
    }
}

/* lg */
@media (min-width:1024px) {
    .container{
        max-width: 1024px;
    }
    .gap-between{
        margin-top: 10rem;
    }
}

/* xl */
@media (min-width:1280px) {
    .container{
        max-width: 1280px;
    }
    .btn{
        font-size: 1.1rem;
    }
}

/* 2xl */
@media (min-width:1536px) {
    .container{
        max-width: 1536px;
    }
}
